* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  font-family: "Quicksand", sans-serif;
}

#time {
  font-size: 8rem;
}

h1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

h1 #greeting {
  margin-right: 0.5rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.6;
}

.time-digit {
  display: inline-block;
  width: 4.4rem;
}

.time-colon {
  display: inline-block;
  width: 1.7rem;
}

@media (max-width: 700px) {
  #time {
    font-size: 5rem;
  }
  h1 {
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.4rem;
  }

  .time-digit {
    display: inline-block;
    width: 3rem;
  }

  .time-colon {
    display: inline-block;
    width: 1.7rem;
  }
}

.base-input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 32px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  max-width: 500px;
  /* text-align: center; */
}

.focus-h2 {
  min-height: 30px;
  min-width: 30px;
}
